
<!DOCTYPE html>
<html>
	<head>
		<%- include ("../partials/head") %>
	</head>
	
    <body style="background-color:white ; font-family: sans-serif">
        <%- include ("../partials/body") %>
    </body>>
</html>